@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border list-none scroll-smooth p-0;
  }

  body {
    @apply min-h-screen font-inter text-white;
  }
}

@layer utilities {
  /* Colors */
  .theme {
    @apply bg-white text-slate-800 dark:bg-slate-800 dark:text-white;
  }
  .theme-light {
    @apply bg-slate-100 text-slate-700 dark:bg-slate-700 dark:text-slate-100;
  }

  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  .input-box {
    @apply mt-2 block w-full rounded-lg border border-gray-300 px-3 py-2 shadow-sm outline-none placeholder:text-gray-400 focus:ring-2 focus:ring-blue-800 focus:ring-offset-1;
  }

  /* btn */
  .btn-primary {
    @apply inline-flex items-center justify-center rounded-lg bg-blue-600 p-3 px-3 text-base font-medium text-white shadow-sm outline-none transition-all duration-150 hover:bg-blue-700 focus:ring-2 focus:ring-blue-800 focus:ring-offset-1 disabled:bg-gray-400;
  }

  .btn-secondary {
    @apply p-3 px-3 me-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border-4 border-blue-500 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-400 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
    /* @apply items-center justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 transition-all duration-150 hover:bg-gray-50 sm:inline-flex; */
  }

  /* Links */
  .nav-link {
    @apply base-regular inline-block rounded-lg px-2 py-1 text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900 dark:text-white dark:hover:text-gray-900;
  }
  .nav-sidebar {
    @apply base-regular mx-2 my-1 inline-block flex px-2 py-1 text-gray-900 transition-all duration-200 hover:rounded hover:bg-gray-800 hover:text-gray-100 dark:text-white dark:hover:text-gray-100;
  }

  .link-tertiary {
    @apply ml-2 text-blue-600;
  }

  /* course card */
  .course-card {
    @apply w-full transform cursor-pointer overflow-hidden rounded-xl border-2 border-solid p-2 shadow-lg transition duration-300 hover:-translate-y-1 hover:shadow-2xl;
  }
}

/* color */
.primary-color {
  color: #378ce7;
}

.heading-with-line {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
}

.heading-with-line::after {
  content: ""; /* No content displayed for the after pseudo-element */
  position: absolute; /* Position the line relative to the heading */
  bottom: 0px; /* Offset the line from the bottom of the heading */
  left: 50%; /* Center the line horizontally (adjust as needed) */
  transform: translateX(-50%);
  width: 30%; /* Adjust width as needed */
  height: 3px; /* Adjust height of the line */
  background-color: #378ce7; /* Set the line color */
}

/* Loader */
.dark-loader-animation {
  background:
    radial-gradient(farthest-side, #fff 94%, #0000) top/10px 10px no-repeat,
    conic-gradient(#0000 30%, #fff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: rotate 1.5s infinite linear;
}
.light-loader-animation {
  background:
    radial-gradient(farthest-side, #08509c 94%, #0000) top/10px 10px no-repeat,
    conic-gradient(#0000 30%, #378ce7);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Mini Loader */
.mini-loader {
  width: 2.4rem;
  height: 2rem;
  animation: smallrotate 1.5s infinite linear;
}

@keyframes smallrotate {
  100% {
    transform: rotate(1turn);
  }
}
